/RegisterHandler$RefreshTimerTask.class
/RegisterHandler.class
/ByeHandler.class
/CancelHandler.class
/DialogMethodHandler$AckTimerTask.class
/DialogMethodHandler.class
/InviteHandler.class
/MethodHandler.class
/OptionsHandler.class
